<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet">
    <link rel="stylesheet" href="./estilo.css">
    <title>Gestión de Aparcamiento</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Gestión de Aparcamiento</a>
      </div>
    </nav>
    <div class="container mt-5 text-center">
      <h1>PARKING 2024</h1>
      <div class="container mt-5">
        <button onclick="mostrarPlazas('planta1')"
          class="btn btn-primary mt-3">Mostrar plazas de la primera
          planta</button>
        <button onclick="mostrarPlazas('planta2')"
          class="btn btn-primary mt-3">Mostrar plazas de la segunda
          planta</button>
      </div>
    </div>
    <!-- Enlace al archivo JavaScript de Bootstrap (opcional, solo si necesitas componentes interactivos) -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
    function mostrarPlazas(planta) {
        window.location.href = planta + '.html';
    }
</script>
  </body>
</html>
