<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./estilo.css">
        <title>Parking Planta 1</title>

    </head>

    <body>
        <h1>Parking - Planta 1</h1>
        <div id="plazas">
            <!-- Las plazas se llenarán aquí -->
        </div>
        <button class="boton" onclick="cocheEntra()">Entrada de coche</button>
        <button class="boton" onclick="cocheSale()">Salida de coche</button>
        <button class="boton" onclick="regresarAlIndex()">Regresar al
            índice</button>

        <script src="./logica1.js"></script>

    </body>

</html>