body {
    background-image: url('./cibeles.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

h1 {
    color: white; /* Color del texto */
    background-color: rgb(0, 0, 0); /* Fondo del texto */
}

.plaza {
    width: 70px;
    height: 70px;
    border: 2px solid black;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
}
.ocupada {
    background-color: red;
}
.libre {
    background-color: green;
}
.boton {
    margin-top: 10px;
}

#plazas {
    display: flex; /* Usa flexbox para alinear los elementos */
    flex-direction: row; /* Coloca los elementos en una fila */
    
}

.container-planta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establece la altura del contenedor al 100% de la ventana */
}
