body {
    background-image: url('./granvia.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}


.plaza {
    width: 70px;
    height: 70px;
    border: 2px solid black;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
}
.ocupada {
    background-color: red;
}
.libre {
    background-color: green;
}
.boton {
    margin-top: 10px;
}

#plazas {
    display: flex; /* Usa flexbox para alinear los elementos */
    flex-direction: row; /* Coloca los elementos en una fila */
    
}

.container-planta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Establece la altura del contenedor al 100% de la ventana */
}

